<h1>Bienvenido a nuestra aerolinea</h1>
 
 <p>
 Si desea ver las rutas disponibles ingrese a
 <%= link_to "Ver rutas", itineraries_path %>
 </p>

 <p>
 Si desea informacion sobre nuestros pilotos ingrese a
 <%= link_to "Ver pilotos", pilots_path %>
</p>

 <p>
 Si desea informacion sobre nuestros aviones ingrese a 
 <%= link_to "Ver aviones", aeroplanes_path %>
 </p>